<div class="row mb-3">
    <div class="col-md-8">
        <div class="form-inline">
            <label for="inputSearch" class="mr-3">Buscar Cliente:</label>
            <input id="inputSearch" #search type="search" class="form-control col" placeholder="Nombre, DNI, CE, RUC..." [(ngModel)]="searchTerm">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="dtCitaBuscarCliente" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>N° Identidad</th>
                        <th>Visitas este Mes</th>
                        <th>Recomendados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>