<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/reportes">Inicio</a></li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reporte de Rentabilidad</h1>
            </div>
        </div>
    </div>
</section>



<section class="content p-2">
	<div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-9">
				<div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-sm-3 mb-0">
                                <label for="fechaDesde">Desde:</label>
                                <input type="date" id="fechaDesde" class="form-control" [(ngModel)]="fechaDesde" required>
                            </div>
                            <div class="form-group col-sm-3 mb-0">
                                <label for="fechaHasta">Hasta:</label>
                                <input type="date" id="fechaHasta" class="form-control" [(ngModel)]="fechaHasta" required>
                            </div>
                            <div class="form-group col-sm-3 mb-0">
                                <button id="btnConsultar" class="btn btn-primary" (click)="fetchData()">
                                    <i class="fas fa-search mr-1"></i>
                                    Consultar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<div class="row" *ngIf="data">
			<div class="col">

                <div id="seccion-imprimir">

                    <div class="row col">
                        <h3 class="m-auto">Rentabilidad</h3>
                    </div>

                    <hr>
                    <div class="form-inline">
                        Fecha: <strong><span class="ml-4">{{ data.fechaDesde | date:'dd/MM/yyyy' }} - {{ data.fechaHasta | date:'dd/MM/yyyy' }}</span></strong>
                    </div>
                    <hr>

                    <div id="rentabilidadAccordion">
						<div class="card shadow" *ngIf="data.rows.length > 0">
							<div class="card-header">
								<h4 class="card-title">
									<a data-toggle="collapse" data-parent="#rentabilidadAccordion" href="#ganancias">
										<strong>Ganancias en Ventas</strong>
									</a>
								</h4>
								<!-- <a class="float-right" data-toggle="collapse" data-parent="#rentabilidadAccordion" href="#ganancias">
									<span><strong>{{ data.total | currency:'S/ ' }}</strong></span>
								</a> -->
							</div>
							<div id="ganancias" class="panel-collapse collapse show">
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table table-striped m-0" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th scope="col" class="text-center">#</th>
                                                    <th scope="col" class="text-left">Descripción</th>
                                                    <th scope="col" class="text-center">Cantidad</th>
                                                    <th scope="col" class="text-left">Unidad</th>
                                                    <th scope="col" class="text-center">Costo</th>
                                                    <th scope="col" class="text-center">Precio</th>
                                                    <th scope="col" class="text-center">Descuento</th>
                                                    <th scope="col" class="text-center">Total Venta</th>
                                                    <th scope="col" class="text-center">Ganancia Por Producto</th>
                                                    <th scope="col" class="text-center">Total Ganancia</th>
                                                    <th scope="col" class="text-center">Total Barbero</th>
                                                    <th scope="col" class="text-center">Total Casa</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let row of data.rows; let i = index">
													<td class="text-center">{{ (i + 1) }}</td>
													<td class="text-left">{{ row.descripcion }}</td>
													<td class="text-center">{{ row.cantidad }}</td>
													<td class="text-left">{{ row.unidad }}</td>
													<td class="text-right text-nowrap"><span *ngIf="row.costo != null">{{ row.costo | currency:'S/ ' }}</span></td>
													<td class="text-right text-nowrap">{{ row.precio | currency:'S/ ' }}</td>
													<td class="text-center text-nowrap">{{ row.descuento }} %</td>
													<td class="text-right text-nowrap">{{ row.total_venta | currency:'S/ ' }}</td>
                                                    <td class="text-right text-nowrap">
                                                        <div *ngIf="row.prc_ganancia != null" class="badge badge-warning mr-1">
                                                            {{ row.prc_ganancia | number:'1.2-2' }} %
                                                        </div>
                                                        <span *ngIf="row.ganancia != null">
                                                            {{ row.ganancia | currency:'S/ ' }}
                                                        </span>
                                                    </td>
                                                    <td class="text-right text-nowrap">{{ row.total_ganancia | currency:'S/ ' }}</td>
													<td class="text-right text-nowrap">
                                                        <div class="badge badge-info mr-1">
                                                            {{ row.prc_barbero | number:'1.2-2' }} %
                                                        </div>
                                                        <span>
                                                            {{ row.total_barbero | currency:'S/ ' }}
                                                        </span>
                                                    </td>
													<td class="text-right text-nowrap">
                                                        <div class="badge mr-1" [class.badge-success]="row.total_casa > 0" [class.badge-danger]="row.total_casa <= 0">
                                                            {{ row.prc_casa | number:'1.2-2' }} %
                                                        </div>
                                                        <span [class.text-success]="row.total_casa > 0" [class.text-danger]="row.total_casa <= 0">
                                                            {{ row.total_casa | currency:'S/ ' }}
                                                        </span>
                                                    </td>
												</tr>
                                            </tbody>
                                            <tfoot class="bg-secondary">
                                                <tr>
                                                    <td class="text-right" colspan="7"><strong>TOTAL</strong></td>
                                                    <td class="text-right text-nowrap"><strong>{{ data.total.venta | currency:'S/ ' }}</strong></td>
                                                    <td></td>
                                                    <td class="text-right text-nowrap"><strong>{{ data.total.ganancia | currency:'S/ ' }}</strong></td>
                                                    <td class="text-right text-nowrap"><strong>{{ data.total.barbero | currency:'S/ ' }}</strong></td>
                                                    <td class="text-right text-nowrap"><strong>{{ data.total.casa | currency:'S/ ' }}</strong></td>
                                                </tr>
                                            </tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

                </div>
                
                <!-- <div class="row col">
                    <button class="btn btn-primary" (click)="imprimir()"><i class="fas fa-print mr-1"></i>Imprimir</button>
                </div> -->

			</div>
		</div>
	</div>
</section>
